# Managed WordPress Hosting .gitignore file for ignoring WordPress files
# Based on WP Engine's files:  https://wpengine.com/git/
# Most recent version here: https://gist.github.com/joemaller/4f7518e0d04a82a3ca16

# temp files, OS junk and dotfiles
*~
*.bak
*.swp
.cvs
.DS_Store
.svn
Thumbs.db

# wp core (as of 4.4)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-admin
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-content/index.php
/wp-content/plugins/akismet
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/themes/twentyten
/wp-content/themes/twentyeleven
/wp-content/themes/twentytwelve
/wp-content/themes/twentythirteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-cron.php
/wp-feed.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-pass.php
/wp-rdf.php
/wp-register.php
/wp-rss.php
/wp-rss2.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

# wordpress config, user-content and caches
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir
wp-content/cache/
wp-content/cache/supercache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

# wpengine specific
.smushit-status
_wpeprivate
wp-content/advanced-cache.php
wp-content/mu-plugins/limit-login-attempts/
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/wpengine-common/
wp-content/object-cache.php
wp-content/plugins/hyperdb*

# flywheel specific
wp-content/flywheel-config/

# large/disallowed file types
# a CDN should be used for these
*.3gp
*.3gpp
*.asf
*.asx
*.avi
*.bin
*.deb
*.dll
*.dmg
*.exe
*.flv
*.hqx
*.img
*.iso
*.kar
*.m4a
*.m4v
*.mid
*.midi
*.mng
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.msi
*.msm
*.msp
*.ogg
*.ra
*.webm
*.wmv

# don't commit database dumpfiles
*.sql

# for all the cool kids
node_modules/
